<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <title>Advanced DataView Example</title>

        <link href="chooser.css" rel="stylesheet" type="text/css" />
        <link href="../../shared/examples.css" rel="stylesheet" type="text/css" />

    <!-- GC -->

        <script src="../../shared/include-ext.js" type="text/javascript"></script>
        <script src="../../shared/options-toolbar.js" type="text/javascript"></script>

        <script src="chooser.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>Advanced DataView Example</h1>
    	<p>This example shows loading a DataView in a Window.  Each item has a linked details view, and the DataView
        supports custom sorting and filtering.</p>

    	<div id="buttons" style="margin:20px;">

    	</div>
    	<div id="images" style="margin:20px;width:600px;">

    	</div>
    </body>
</html>
